@media screen and (max-width: 1000px) {
    .header__burger-line {
        display: block;
        margin: 0;
        position: absolute;
        min-width: 19px;
        outline: 2px solid #FFFFFF;
        transition: 0.2s;
    }

    .header__burger-line:nth-child(1) {
        right: 3px;
        top: 8px;
    }

    .header__burger_active .header__burger-line:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .header__burger-line:nth-child(2) {
        right: 3px;
        top: 17px
    }

    .header__burger_active .header__burger-line:nth-child(2) {
        opacity: 0;
    }

    .header__burger-line:nth-child(3) {
        right: 3px;
        top: 25px
    }

    .header__burger_active .header__burger-line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}